In [ ]:
from tabulate import tabulate

staff = [
    ["Name", "Year", "Semesters on Staff"],
    ["Rita", "4", "7"],
    ["Natalie", "4", "7"],
    ["Prasann", "3", "3"],
    ["Ashwin", "2", "3"],
    ["Haru", "3", "3"],
    ["Wendy", "3", "3"],
    ["Jackie", "4", "7"],
    ["Vivrd", "2", "3"],
    ["Olivia", "4", "4"],
    ["Vishnu", "4", "3"],
    ["Peter", "2", "2"],
    ["Kyle", "3", "3"],
    ["Jessie", "4", "5"],
    ["Oscar", "3", "3"],
    ["Yanay", "4", "9"],
    ["Eddie", "3", "4"],
    ["Katherine", "4", "10"],
    ["Mei", "3", "2"],
    ["Rohan", "3", "2"],
    ["Noah", "2", "3"],
    ["Sarah", "3", "2"],
    ["Grace", "4", "3"],
    ["Ellen", "4", "5"]
]
print (tabulate(staff, headers='firstrow'))

# A

In [ ]:
staff_year = [
    ["Year", "Semesters on Staff"],
    ["2", "2.5"],
    ["3", "2.7778"],
    ["4", "6"],

]
print (tabulate(staff_year, headers='firstrow'))

# B

In [ ]:
staff_name = [
    ["Name", "Year"],
    ["Rita", "Senior"],
    ["Natalie", "Senior"],
    ["Prasann", "Junior"],
    ["Ashwin", "Sophomore"],
    ["Haru", "Junior"],
    ["Wendy", "Junior"],
    ["Jackie", "Senior"],
    ["Vivrd", "Sophomore"],
    ["Olivia", "Senior"],
    ["Vishnu", "Senior"],
    ["Peter", "Sophomore"],
    ["Kyle", "Junior"],
    ["Jessie", "Senior"],
    ["Oscar", "Junior"],
    ["Yanay", "Senior"],
    ["Eddie", "Junior"],
    ["Katherine", "Senior"],
    ["Mei", "Junior"],
    ["Rohan", "Junior"],
    ["Noah", "Sophomore"],
    ["Sarah", "Junior"],
    ["Grace", "Senior"],
    ["Ellen", "Senior"]
]

print (tabulate(staff_name, headers='firstrow'))

# C

In [ ]:
import matplotlib.pyplot as plt

semesters = (2, 3, 4, 5, 6, 7, 8, 9, 10)
years = (2,2,3,3,3,4,4,4,4,4,4)

fig, ax = plt.subplots()
axs.plot(years, semesters)

plt.show()

# D

In [ ]:
staff_semesters = [
    ['Semesters on Staff', '2', '3', '4'],
    [2,2,3,0],
    [3,2,4,2],
    [4,0,1,1],
    [5,0,0,2],
    [7,0,0,3],
    [9,0,0,1],
    [10,0,0,1]
    ]

print(tabulate(staff_semesters, headers='firstrow'))